<section id="about" id="works"></section>
<div class="container">
  <div class="row centered mt mb">
    <div class="col-lg-5 ">
      <h4>About Me</h4>
      <p>After 3 years of teaching in public schools I found myself wanting to learn more and create things. At night, after many long days of teaching, I started to make Wordpress websites for friends and clients, revamping old blogs with Bootstrap, and trying to figure out this thing called JavaScript. </p>

<p>Currently, I am a full stack engineering student at Prime Digital Academy. Over the past 18 weeks I’ve learned the MEAN stack at a brisk pace while still finding time to go above and beyond (dabbling in SASS and learning about UX design principles).</p>

<p>When I’m not making web apps I can be found making music and messing around with my analogue synths, brewing some (pretty) good homebrew, making weird stuff in Adobe Illustrator, and perfecting the perfect cup of cold press coffee. </p>

<p>I create and design web content with the user in mind. Engaging and meaningful websites and web apps are my goal. </p>

<p>Let’s problem solve and create together. </p>

    </div>



    <div class="col-lg-5">
             <img class='img-responsive' src='https://firebasestorage.googleapis.com/v0/b/personal-site-6f1a8.appspot.com/o/Phil_Photo.png?alt=media&token=d4883911-8ac0-4f94-8821-2db3cdd85e41' alt='' />
           </div>
         </div>

  </div>
