
<div id='wrapper'>

    <section id="eandt" id="works"></section>
    <div class="container">
      <div class="row centered mt mb">
        <div class="col-lg-8">
          <h4>E and T Designs</h4>
          <p>This was a fun project for a client who wanted a super simple site to showcase their deisgns and prints that they normally sell over on Etsy. The website needed to be fast and responsive - looking great on a laptop, tablet or even your phone.</p>
        </div>
      </div>
      <div class='row'>

        <div class="col-lg-5 col-lg-offset-1 mt">
                 <img class='img-responsive' src='https://firebasestorage.googleapis.com/v0/b/personal-site-6f1a8.appspot.com/o/tande-main.jpg?alt=media&token=2a939a1d-4ab8-48c7-a925-bf52160b15c4' alt='' />
               </div>
        <div class='col-lg-5 mt'>
              <img class='img-responsive' src='https://firebasestorage.googleapis.com/v0/b/personal-site-6f1a8.appspot.com/o/tande-portfolio.jpg?alt=media&token=6f5bf7ab-2c11-4d07-bfbf-66503c8fb554' alt='' />

        </div>
      </div>
      <div class="row centered mt mb">
        <div class="col-lg-8">
      <p>The site layout, design and logo were all done with the goal of simplicity in mind. I wanted the site to match their simple, quirky and playful designs.</p>
    </div>
  </div>
      <div class='row'>
        <div class="col-lg-10 col-lg-offset-1 mt">


                 <img class='img-responsive' src='https://firebasestorage.googleapis.com/v0/b/personal-site-6f1a8.appspot.com/o/tande-laptop.jpg?alt=media&token=2d85ccbd-a66b-4b49-ac3a-7a4a75362d4d' alt='' /><br /><br />

        </div>
      </div>

      <div class="row centered mt mb">
        <div class="col-lg-8">
          <h4>Technology Used</h4>
          <p>This was created using Bootstrap, CSS3, HTML5, and jQuery. Hosted and deployed on Heroku using Git as version control.</p>
        </div>
      </div>

        <footer class="article-footer">
          <div class="post-edit"></div>
        </footer>

      </div><! --/row -->
    </div><! --/container -->








</div><!-- end of wrapper-->
