
<div id='wrapper'>

    <section id="stementor" id="works"></section>
    <div class="container">
      <div class="row centered mt mb">
        <div class="col-lg-8">
          <h4>Project Name</h4>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&#8217;s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
        </div>
      </div>
      <div class='row'>

        <div class="col-lg-5 col-lg-offset-1 mt">
                 <img class='img-responsive' src='https://firebasestorage.googleapis.com/v0/b/personal-site-6f1a8.appspot.com/o/tande-main.jpg?alt=media&token=2a939a1d-4ab8-48c7-a925-bf52160b15c4' alt='' />
               </div>
        <div class='col-lg-5 mt'>
              <img class='img-responsive' src='https://firebasestorage.googleapis.com/v0/b/personal-site-6f1a8.appspot.com/o/tande-portfolio.jpg?alt=media&token=6f5bf7ab-2c11-4d07-bfbf-66503c8fb554' alt='' />

        </div>
      </div>
      <div class="row centered mt mb">
        <div class="col-lg-8">
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&#8217;s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
    </div>
  </div>
      <div class='row'>
        <div class="col-lg-10 col-lg-offset-1 mt">


                 <img class='img-responsive' src='https://firebasestorage.googleapis.com/v0/b/personal-site-6f1a8.appspot.com/o/tande-laptop.jpg?alt=media&token=2d85ccbd-a66b-4b49-ac3a-7a4a75362d4d' alt='' /><br /><br />

        </div>
      </div>

        <footer class="article-footer">
          <div class="post-edit"></div>
        </footer>

      </div><! --/row -->
    </div><! --/container -->








</div><!-- end of wrapper-->
