
<div id='wrapper'>

    <section id="fitvid" id="works"></section>
    <div class="container">
      <div class="row centered mt mb">
        <div class="col-lg-8">
          <h4>FitVid</h4>
          <p> This is my personal project that I created towards the end of my time at Prime Digital Academy. </p>
          <p> FitVid is a full stack web app designed with the fitness enthusiast in mind. FitVid allows users to find a quick 5 minute Yoga video, or really get sweaty with a 30 minute high intensity CrossFit workout. Don't have time to workout? Log-in with your pre-existing Gmail credentials, save the videos you like, and come back when it's convenient to a full collection of your favorite workout videos stored on the app. </p>
        </div>
      </div>
      <div class='row'>

        <div class="col-lg-5 col-lg-offset-1 mt">
                 <img class='img-responsive' src='https://firebasestorage.googleapis.com/v0/b/personal-site-6f1a8.appspot.com/o/fitvid-laptop.jpg?alt=media&token=d3c01001-bc07-467a-bb26-681097570504' alt='' />
               </div>
        <div class='col-lg-5 mt'>
              <img class='img-responsive' src='https://firebasestorage.googleapis.com/v0/b/personal-site-6f1a8.appspot.com/o/fitvid-tablet.jpg?alt=media&token=0446d94a-3f04-4705-ac1f-37712559cfd5' alt='' />

        </div>
      </div>

      <div class='row'>
        <div class="col-lg-10 col-lg-offset-1 mt">


                 <img class='img-responsive' src='https://firebasestorage.googleapis.com/v0/b/personal-site-6f1a8.appspot.com/o/fitvid-options.jpg?alt=media&token=0ab1e09e-fe1e-4a94-8800-e17328147b38' alt='' /><br /><img class='img-responsive' src='https://firebasestorage.googleapis.com/v0/b/personal-site-6f1a8.appspot.com/o/FitVid.png?alt=media&token=68bd8737-7b8a-450c-95ca-c532ce2051c1' alt='' /><br />

        </div>
      </div>

      <div class="row centered mt mb">
        <div class="col-lg-8">
          <h4>Technology Used</h4>
          <p> This full stack web app was created using Angular, Angular Router, Bootstrap, Express, Postgres, SQL, Youtube API and Firebase.
        </div>
      </div>

        <footer class="article-footer">
          <div class="post-edit"></div>
        </footer>

      </div><! --/row -->
    </div><! --/container -->








</div><!-- end of wrapper-->
