
<div id='wrapper'>

    <section id="stementor" id="works"></section>
    <div class="container">
      <div class="row centered mt mb">
        <div class="col-lg-8">
          <h4>Project Name</h4>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&#8217;s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
        </div>
      </div>
      <div class='row'>

        <div class="col-lg-5 col-lg-offset-1 mt">
                 <img class='img-responsive' src='https://firebasestorage.googleapis.com/v0/b/personal-site-6f1a8.appspot.com/o/fitvid-laptop.jpg?alt=media&token=d3c01001-bc07-467a-bb26-681097570504' alt='' />
               </div>
        <div class='col-lg-5 mt'>
              <img class='img-responsive' src='https://firebasestorage.googleapis.com/v0/b/personal-site-6f1a8.appspot.com/o/fitvid-tablet.jpg?alt=media&token=0446d94a-3f04-4705-ac1f-37712559cfd5' alt='' />

        </div>
      </div>
      <div class="row centered mt mb">
        <div class="col-lg-8">
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&#8217;s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
    </div>
  </div>
      <div class='row'>
        <div class="col-lg-10 col-lg-offset-1 mt">


                 <img class='img-responsive' src='https://firebasestorage.googleapis.com/v0/b/personal-site-6f1a8.appspot.com/o/fitvid-options.jpg?alt=media&token=0ab1e09e-fe1e-4a94-8800-e17328147b38' alt='' /><br /><img class='img-responsive' src='https://firebasestorage.googleapis.com/v0/b/personal-site-6f1a8.appspot.com/o/FitVid.png?alt=media&token=68bd8737-7b8a-450c-95ca-c532ce2051c1' alt='' /><br />

        </div>
      </div>

        <footer class="article-footer">
          <div class="post-edit"></div>
        </footer>

      </div><! --/row -->
    </div><! --/container -->








</div><!-- end of wrapper-->
