
<div id='wrapper'>

    <section id="stementor" id="works"></section>
    <div class="container">
      <div class="row centered mt mb">
        <div class="col-lg-8">
          <h4>Project Name</h4>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&#8217;s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
        </div>
      </div>
      <div class='row'>

        <div class="col-lg-5 col-lg-offset-1 mt">
                 <img class='img-responsive' src='https://firebasestorage.googleapis.com/v0/b/personal-site-6f1a8.appspot.com/o/pbf-desktop.jpg?alt=media&token=3e1dac0b-566b-44ba-b32d-ec06592d1fb7' alt='' />
               </div>
        <div class='col-lg-5 mt'>
              <img class='img-responsive' src='https://firebasestorage.googleapis.com/v0/b/personal-site-6f1a8.appspot.com/o/pbf-iphone.jpg?alt=media&token=b5eb5b64-f98b-4bbe-b010-8773dfd1245e' alt='' />

        </div>
      </div>
      <div class="row centered mt mb">
        <div class="col-lg-8">
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&#8217;s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
    </div>
  </div>
      <div class='row'>
        <div class="col-lg-10 col-lg-offset-1 mt">


                 <img class='img-responsive' src='https://firebasestorage.googleapis.com/v0/b/personal-site-6f1a8.appspot.com/o/pbf-chat.jpg?alt=media&token=7eb7cd31-7a38-44f3-b303-89dcb4ff5cb4' alt='' /><br /><br />

        </div>
      </div>

      <div class="row centered mt mb">
        <div class="col-lg-8">
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&#8217;s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
    </div>
  </div>

  <div class='row'>
      <div class="col-lg-10 col-lg-offset-1 mt">
               <img class='img-responsive' src='https://firebasestorage.googleapis.com/v0/b/personal-site-6f1a8.appspot.com/o/PersonalBestFitness-05.png?alt=media&token=4f2c4d9a-53d8-4b3e-830e-b9a3c5ad82c4' alt='' />
      </div>

  <div class="row">     
             <div class="col-lg-10 col-lg-offset-1 mt">
                      <img class='img-responsive' src='https://firebasestorage.googleapis.com/v0/b/personal-site-6f1a8.appspot.com/o/PersonalBestFitness-03.png?alt=media&token=3f289e79-ceee-4cf5-8d0e-c39d39cf649c' alt='' />
              </div>
    </div>



        <footer class="article-footer">
          <div class="post-edit"></div>
        </footer>

      </div><! --/row -->
    </div><! --/container -->








</div><!-- end of wrapper-->
