<div id="projects" class='container-fluid'>
    <div class='row centered'>
        <h1> Portfolio </h1>
      </div>
      <div class='row centered'>
        <h4 class='text-center'> A collection of my most recent freelance web and app development that I've done over the past 4 years. Click for more info! </h4>
    </div>

    <div class='row centered mt mb'>

        <div class='col-lg-4 col-md-4 gallery'>
          <a href='#pbf#pbf'><img class="img-responsive" src="https://firebasestorage.googleapis.com/v0/b/personal-site-6f1a8.appspot.com/o/pbf-desktop.jpg?alt=media&token=3e1dac0b-566b-44ba-b32d-ec06592d1fb7"  alt="stementor logo"></a>
        </div>



        <div class='col-lg-4 col-md-4 gallery'>
            <a href='#fitvid#fitvid'><img class="img-responsive" src="https://firebasestorage.googleapis.com/v0/b/personal-site-6f1a8.appspot.com/o/fitvid-laptop.jpg?alt=media&token=d3c01001-bc07-467a-bb26-681097570504" alt=""></a>
        </div>



        <div class='col-lg-4 col-md-4  gallery'>
            <a href='#eandt#eandt'><img class="img-responsive" src="https://firebasestorage.googleapis.com/v0/b/personal-site-6f1a8.appspot.com/o/tande-main.jpg?alt=media&token=2a939a1d-4ab8-48c7-a925-bf52160b15c4" alt=""></a>
        </div>


    </div>

    <div class='row centered mt mb'>

        <div class='col-lg-4 col-md-4 gallery'>
            <a href="#stem#stementor"><img class="img-responsive" src="../public/assets/images/screenshots/stementor-desktop.jpg" alt=""></a>
        </div>



        <div class='col-lg-4 col-md-4 gallery'>
            <a href="#ty#ty"><img class="img-responsive" src="https://firebasestorage.googleapis.com/v0/b/personal-site-6f1a8.appspot.com/o/ty-desktop.jpg?alt=media&token=ed278e39-5be7-4c73-b4f7-611db6d98d12" alt=""></a>
        </div>




        <div class='col-lg-4 col-md-4  gallery'>
            <img class="img-responsive" src=""  alt="">
        </div>
    </div>
</div>
