
<div id='wrapper'>

    <section id="stementor" id="works"></section>
    <div class="container">
      <div class="row centered mt mb">
        <div class="col-lg-8">
          <h4>STEMentor</h4>
          <p>STEMentor was my final group project while at Prime Digital Academy. The STEMentor web app acts as a bridge between STEM professionals and students interested in STEM careers. Mentors are recruited from top technology companies and universities, and are willingly volunteering to offer their advice and counsel to students seeking to better understand STEM career opportunities.</p>

<p>Mentors can create profiles on the site, and provide relevant information about themselves such as their name, current job, college degree, and languages spoken. Students can then search our database of mentors based on criteria that is important to them. </p>

<p>Once a student finds a mentor, they are able to send questions to that mentor. Both the mentors and the students have inboxes where they can see messages received, and respond to them.</p>
        </div>
      </div>
      <div class='row'>

        <div class="col-lg-5 col-lg-offset-1 mt">
                 <img class='img-responsive' src='../public/assets/images/screenshots/stementor-desktop.jpg' alt='' />
               </div>
        <div class='col-lg-5 mt'>
              <img class='img-responsive' src='../public/assets/images/screenshots/stementor-ipad.jpg' alt='' />

        </div>
      </div>
      <div class="row centered mt mb">
        <div class="col-lg-8">
      <p> I created and handled all of the front-end development for this web app. I created the wireframes, the layout, a large part of the front-end functionality, and made the logo from scratch. </p>
    </div>
  </div>
      <div class='row'>
        <div class="col-lg-10 col-lg-offset-1 mt">


                 <img class='img-responsive' src='../public/assets/images/screenshots/stementor-profile2-laptop.jpg' alt='' /><br /><img class='img-responsive' src='../public/assets/images/screenshots/stementor-profile-laptop.jpg' alt='' /><br />

        </div>
      </div>

    <div class='row centered mt mb'>
      <div class="col-lg-8">
        <h4>Technology Used</h4>
        <p> This web app was created using Angular, Angular-router, Angular Materials, Express, SQL, Postgres, Firebase, Gulp and Sass. This app is hosted and deployed on Heroku using Git as version control. </p>
      </div>
    </div>

        <footer class="article-footer">
          <div class="post-edit"></div>
        </footer>

      </div><! --/row -->
    </div><! --/container -->








</div><!-- end of wrapper-->
