
<div id='wrapper'>

    <section id="stementor" id="works"></section>
    <div class="container">
      <div class="row centered mt mb">
        <div class="col-lg-8">
          <h4>Personal Site</h4>
          <p> This was a fun website created to display only the essential information - and about page, a short resume, and a contact page. I love the idea of having a personal website with no frills - just the essentials! This site is fully responsive - the simple header collapses when used on smaller devices like a tablet or phone!</p>
        </div>
      </div>

      <div class='row'>
        <div class="col-lg-10 col-lg-offset-1 mt">


                 <img class='img-responsive' src='https://firebasestorage.googleapis.com/v0/b/personal-site-6f1a8.appspot.com/o/ty-desktop.jpg?alt=media&token=ed278e39-5be7-4c73-b4f7-611db6d98d12' alt='' /><br /><br />

        </div>
      </div>

      <div class='row'>
        <div class="col-lg-10 col-lg-offset-1 mt">


                 <img class='img-responsive' src='https://firebasestorage.googleapis.com/v0/b/personal-site-6f1a8.appspot.com/o/ty-phone-tablet.jpg?alt=media&token=e0abdd19-26d9-4b49-8825-4abb3038d2e8' alt='' /><br /><br />

        </div>
      </div>

      <div class="row centered mt mb">
        <div class="col-lg-8">
          <h4>Technology Used</h4>
          <p> This was created using Angular, Angular-router, Express, HTML5, and CSS3. It is hosted and deployed on Heroku and uses Git as version control. </p>
        </div>
      </div>

        <footer class="article-footer">
          <div class="post-edit"></div>
        </footer>

      </div><! --/row -->
    </div><! --/container -->








</div><!-- end of wrapper-->
